<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/logo_tlu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_tlu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.TKBActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.BangDiemActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.KhoaCNTTActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.PhongDaoTaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.TruongDHTLActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ThongTinKhacActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.HoiDapActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ThongTinCaNhanActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
